.forecastHeading {
  font-size: 22px;
  color: #d9f3f9;
  margin-bottom: 10px;
}

.weekday img {
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.forecast h3 {
  color: #7a7070;
  font-weight: normal;
  vertical-align: bottom;
  margin: 0;
}

.maxTemp {
  color: #3c3a3a;
  font-size: 16px;
}
.lowerTemp {
  color: #988d8d;
  font-size: 16px;
}

.weekday {
  background: rgb(255, 235, 205, 0.9);
  text-align: center;
  border-radius: 10px;
}

.weekday p {
  font-size: 16px;
  color: #2a84cd;
  padding-bottom: 10px;
  font-weight: bold;
}
