.main-row {
  margin-top: 15px;
  background: rgb(255, 235, 205);
  border-radius: 10px;
  width: 85%;
  padding-top: 10px;
}

.Weather h1 {
  font-size: 32px;
  margin-top: 10px;
  color: #07a09d;
}

.Weather .main-temperature {
  margin-top: 20px;
  font-size: 20px;
}

.Weather img {
  width: 100px;
}

.Weather .main-date {
  font-size: 20px;
  font-weight: bold;
}

.Weather .main-description {
  font-size: 24px;
  color: #625b60;
}

.Weather .main-description::first-letter {
  text-transform: capitalize;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -8px;
  margin-left: 5px;
  line-height: 1;
}

.Weather .main-temp {
  font-size: 32px;
  color: #d9089a;
}

.Weather .indicators {
  margin-top: 15px;
  text-align: center;
  color: #07a09d;
  font-weight: bold;
}

.Weather .indicators .numbers {
  color: #625b60;
} 